* {
    transition: all 0.25s;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(../juego-jc/images/imagen\ del\ body\ de\ preguntas.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

#encabezado {
    width: 60vw;
    min-height: 70px;
    display: flex;
    flex-direction: column;
    align-items: initial;
    flex-direction: column;
    background: #A2D9CE;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.opcion {
    width: 60vw;
    background: #A2D9CE;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}

.opcion:hover {
    background: teal;
}